@import "tailwindcss";

@theme {
	--color-blue: #3b82f6;
	--color-blue-light: oklch(0.72 0.11 178);
	--font-display: "Inter", sans-serif;
}

html {
	color-scheme: dark;
}

body {
	@apply bg-slate-950 text-slate-100 antialiased;
	font-family: var(--font-display);
}